#root{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.router-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-container {
    margin: auto;
    width: 95%;
    height: 100%;
    flex: 1;
}

.container-sidebar{
    display: flex;
    flex-direction: row;
}

.main-content-container{
    padding: 15px;
    flex: 1;
}

.main-sidebar-container{
    width: 250px;
    min-height: 100%;
}
