:root {
    --nav-height: 80px;
}

#root{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.router-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-container {
    margin: auto;
    width: 95%;
    height: 100%;
    flex: 1;
}

.container-sidebar{
    display: flex;
    flex-direction: row;
}

.main-content-container{
    padding: 15px;
    flex: 1;
}

.main-sidebar-container{
    width: 250px;
    min-height: 100%;
}

.btn-success{
    color: #fff;
    background-color: #197930;
    border-color: #197930;
}

.scroll-table-head {
    display: table;
    table-layout: fixed;
    /* width: 100%; */
    width: calc( 100% - 1em ); /*scrollbar is average 1em/16px width, remove it from thead width */
}

.scroll-table-body {
    display: block;
    height: 50px;
    overflow-y: scroll;
    width: 100%;
    table-layout: fixed;
}

.scroll-table-row{
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}
