.categoryCard{
    width: 260px; 
    float: left; 
    margin: 5px 10px 5px 0;
    padding: 5px;
    height: 190px;
    cursor: pointer;
    text-align: center;
}

.categoryCard .card-img-wrapper{
    margin: 4px 0 0 0;
    height: 120px; 
    /* width: 100%;  */
    position: relative;
    text-align: center;
}

.categoryCard .card-img-top{
    height: 120px;
    width: auto;
}

.categoryCard .card-body{
    padding: 1rem;
}

.categoryCard .card-title{
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 2rem;
}