.nav{
    position: sticky;
    top:0;
    z-index: 100;
}

.nav-search{
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 2px;
    max-width: 800px;
}

.nav-searchfield{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 40px; 
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%234E4C4C' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10 2a8 8 0 104.906 14.32l5.387 5.387a1 1 0 001.414-1.414l-5.387-5.387A8 8 0 0010 2zm-6 8a6 6 0 1112 0 6 6 0 01-12 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat; 
    background-position: 12px;
    padding-left: 40px;
    border-radius: 5px;
}

.nav-searchbutton{
    margin: 0 5px 0 5px;
}

.nav-buttonssection{
    display: flex;
}

.nav-buttons{
    border: 0px none transparent;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    box-shadow: none !important;
}

.nav-buttons:hover{
    background-color: #4b5259; 
}

.nav-brand{
    color:white!important; 
    margin:10px; 
    font-family: Lucida; 
    font-size: 20px;
}

.nav-basket{
    position: relative;
    color: white
}

.nav-basket:hover{
    color: white
}

.nav-basketCount{
    background-color: green; 
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 12px;
    height: 18px;
    width: 18px;
    position: absolute;
    top: 0;
    right: 0;
}

.nav-avatar{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #f15623;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}