.productCard{
    width: 18rem; 
    float: left; 
    margin: 5px;
    padding: 5px;
    height: 500px;
    cursor: pointer; 
}

.productCard .card-img-wrapper{
    height: 420px; 
    width: 100%; 
    position: relative;
}

.productCard .card-img-top{
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    height: auto
}

.productCard .card-body{
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productCard .price-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
}

.typeCard{
    width: 200px; 
    float: left; 
    margin: 5px;
    padding: 5px;
    height: 290px;
    cursor: pointer;
}

.typeCard .card-img-wrapper{
    height: 200px; 
    /* width: 100%;  */
    position: relative;
    text-align: center;
}

.typeCard .card-img-top{
    height: 200px;
    width: auto;
}